
/* //font-family: 'Pixelify Sans', sans-serif; */


body {

  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(56, 4, 76);
  text-align: center;
  font-size: 20px;
  color: #FFFADA;
  justify-content: center;
  align-items: center;
  position:center;
  overflow-y: hidden;
}

h2{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFADA;
  position:center;
  font-size: 10px;

}
h3{
  justify-content: center;
  /* font-family: 'Pixelify Sans', sans-serif; */

  align-items: center;
  text-align: center;
  color: #FFFADA;
  position:center;
  font-size: 20px;

}
p{
  justify-content: center;
  font-family: 'Pixelify Sans', sans-serif;

  align-items: center;
  text-align: center;
  color: #FFFADA;
  position:center;

}
p2{
  justify-content: center;
  font-family: 'Pixelify Sans', sans-serif;

  align-items: center;
  text-align: center;
  color: #FFFADA;
  position:center;

}
.btn2 {
  font-family: 'Pixelify Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
  color: #FFFADA;
  cursor:pointer;
  position:center;
  bottom:  280px;
}

.btn2:hover {
  color: rgb(255, 255, 255, 0.5);
}

.btn2:hover span{
  color: rgb(255, 255, 255, 0.5);
}
